

<section>
    <div class="jumbotron panel-forgotpassword">
        <div class="container">
            <h2 translate>forgotPassword.Heading</h2>
        </div>
    </div>
    <div class="container body-content" *ngIf="error || !forgotPasswordSuccess">
        <form (ngSubmit)="onForgotPasswordClick(forgotPasswordForm.valid)" id="forgotPasswordForm" #forgotPasswordForm="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label translate>forgotPassword.Email</label>
                        <input type="text" class="form-control required" autocomplete="off" pattern="^([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})$"
                               required [(ngModel)]="forgotPasswordModel.EmailAddress" name="emailAddress" #emailAddress="ngModel">
                        <!--<div translate *ngIf="(emailAddress?.invalid && emailAddress?.touched && emailAddress?.errors?.required) || (forgotPasswordForm.submitted && emailAddress?.errors?.required)"
                            class="alert alert-danger">
                                forgotPassword.EmailRequired
                        </div>-->
                        <!--<div translate class="alert alert-danger" *ngIf="(emailAddress.invalid && (emailAddress.dirty || emailAddress.touched) && !emailAddress?.errors?.required) || (forgotPasswordForm.submitted && emailAddress.invalid && !emailAddress?.errors?.required)">
                            forgotPassword.EmailValidRequired
                        </div>-->
                        <div translate class="alert alert-danger" *ngIf="(emailAddress.invalid && (emailAddress.dirty || emailAddress.touched)) || (forgotPasswordForm.submitted && emailAddress.invalid)">
                            forgotPassword.EmailValidRequired
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger alert-dismissible fade in col-md-12" role="alert" *ngIf="error && !forgotPasswordSuccess">
                    <br />
                    <button type="button" id="alerterror" class="close" (click)="HideAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p>{{ errorMessage | translate }}</p>
                </div>
            </div>
            <br />
            <div class="col-md-12">
                <div class="form-group">
                    <button type="button" class="btn btn-default" routerLink="/home" translate>Cancel</button>
                    <input type="submit" class="btn btn-primary" value="{{ 'forgotPassword.ConfirmationLink' | translate}}" />
                </div>
            </div>
        </form>
    </div>
    <div class="container" *ngIf="!error && forgotPasswordSuccess">
        <div translate class="alert alert-success col-md-12" role="alert">
            forgotPassword.ForgotPasswordSuccessMessage
        </div>
    </div>
    <div class="container">
        <ngx-loading [show]="loading">
        </ngx-loading>
    </div>
</section>