<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PowerDesignPro Pramac</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/stylesheets/_bootstrap-pramac.min.css" />
    <script src="//assets.adobedtm.com/fcb50f5aff2008c63537f68b0229fb79adbe362a/satelliteLib-a91452ac655ff8f84d1ae8661e9641c807c782b3-staging.js"></script>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
    <script type="text/javascript">_satellite.pageBottom();</script>
</body>
</html>
