
<section>
    <div class="jumbotron panel-resetpassword">
        <div class="container">
            <h2 translate>resetPassword.ResetPassword</h2>
        </div>
    </div>
    <div class="container body-content" *ngIf="error || !resetPasswordSuccess">
        <form (ngSubmit)="onResetPasswordClick(resetPasswordForm.valid)" id="resetPasswordForm" #resetPasswordForm="ngForm">
            <div class="row">
                <div class="form-group alert alert-danger alert-dismissible fade in col-md-8" role="alert" *ngIf="error && !resetPasswordSuccess">
                    <button type="button" id="alerterror" class="close" (click)="HideAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p><strong>warning.UnhandledError</strong>.  warning.ReTryMessage</p>
                </div>
                <br/>
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        *<label translate>register.EmailAddress</label>
                        <input type="text" class="form-control required" autocomplete="off" pattern="^([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})$"
                               required [(ngModel)]="resetPasswordModel.EmailAddress" name="emailAddress" #emailAddress="ngModel">
                        <div translate *ngIf="(emailAddress?.invalid && emailAddress?.touched && emailAddress?.errors?.required) || (resetPasswordForm.submitted && emailAddress?.errors?.required)"
                             class="alert alert-danger">
                            register.warnings.EmailRequired
                        </div>
                        <div translate class="alert alert-danger" *ngIf="(emailAddress.invalid && (emailAddress.dirty || emailAddress.touched)) || (resetPasswordForm.submitted && emailAddress.invalid && !emailAddress?.errors?.required)">
                            register.warnings.EmailValidRequired
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        *<label translate>register.Password</label>
                        <input type="password" class="form-control required" name="password" autocomplete="off" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%]).{6,20})"
                               required validateEqual="confirmPassword" reverse="true" #password="ngModel" [(ngModel)]="resetPasswordModel.Password">
                        <div translate *ngIf="(password.invalid && (password.dirty || password.touched)) || (resetPasswordForm.submitted && password.invalid)" class="alert alert-danger">
                            register.warnings.PasswordRequired  <br />
                            <strong translate>register.warnings.PasswordAtleast</strong><br />
                            <ul>
                                <li translate>register.warnings.PasswordPattern.Numeric</li>
                                <li translate>register.warnings.PasswordPattern.Lowercase</li>
                                <li translate>register.warnings.PasswordPattern.UpperCase</li>
                                <li translate>register.warnings.PasswordPattern.SpecialCharacter</li>
                                <li translate>register.warnings.PasswordPattern.MinimumLength</li>
                                <li translate>register.warnings.PasswordPattern.MaximumLength</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        *<label translate>register.ConfirmPassword</label>
                        <input type="password" class="form-control required" name="confirmPassword" autocomplete="off" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%]).{6,20})"
                               required validateEqual="password" reverse="false" #confirmPassword="ngModel" [(ngModel)]="resetPasswordModel.ConfirmPassword">
                        <div translate class="alert alert-danger" *ngIf="(confirmPassword.invalid  && (confirmPassword.dirty || confirmPassword.touched)) || (resetPasswordForm.submitted && confirmPassword.invalid)">
                            register.warnings.PasswordMismatch
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="{{ 'resetPassword.ResetPassword' | translate}}" />
                </div>
            </div>
        </form>
    </div>
    <div class="container" *ngIf="!error && resetPasswordSuccess">
        <div class="alert alert-info col-md-12" role="alert">
            <p class="text-info">
                Your password has been reset. Please <a href="/login"> click here to login.</a>
            </p>
        </div>
    </div>
    <div class="container">
        <ngx-loading [show]="loading">
        </ngx-loading>
    </div>
</section>